* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #26c6da;
    --main-color-opacity: rgb(38 198 218 / 60%);
    --secondary-color: #e91e63;
    --third-color: #1de9b6;
    --fourth-color: #ffc400;
    --section-padding: 50px;
    --border-radius: 4px;
}

/* Start global rules */
body {
    font-family: 'Poppins', sans-serif;
}

header {
    padding: 1rem;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

input:not(input[type='radio']):not(input[type='submit']):not(input[type="checkbox"]) {
    display: block;
    margin-bottom: 1rem;
    padding: .5rem 1rem;
    border-radius: var(--border-radius);
    border: 1px solid rgb(0 0 0 / 20%);
    outline: 0 solid var(--main-color);
    transition: outline-width .2s;
}

input:not(input[type='submit']):hover {
    outline-width: 1px;
}

input:focus {
    border: 1px solid var(--main-color);
    outline: none;
}

input[type='submit'], button, .link-btn {
    background-color: var(--main-color);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: opacity .3s;
}

input[type='submit']:hover, button:hover, .link-btn:hover {
    opacity: .8;
}

button, .link-btn {
    padding: .5rem 1rem;
    border-radius: var(--border-radius);
}

hr {
    border: none;
    border-top: 1px solid rgb(0 0 0 / 5%);
}

.link-btn {
    display: inline-block;
    text-decoration: none;
}

.delete {
    background-color: var(--secondary-color);
}

.prix {
    font-weight: bold;
    color: var(--secondary-color);
}

/* End global rules */

.main-heading {
    font-size: 2rem;
    margin-bottom: 3rem;
    border-bottom: 5px solid var(--main-color);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.secondary-heading {
    border-left: 3px solid var(--main-color);
    padding-left: 8px;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.success-text, .error-text, .alert-text {
    background-color: var(--third-color);
    color: #fff;
    padding: .5rem 1rem;
    border-radius: var(--border-radius);
    display: none;
}

.alert-text {
    background-color: var(--fourth-color);
}

.error-text {
    background-color: var(--secondary-color);
}

.error-text.show {
    display: block;
}


.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 99.4px;
}

/* small */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}


/* meduim */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}


/* large */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* Start header */
header, .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
}

header ul li, .menu ul li {
    display: inline-block;
}

header a, .menu ul li a {
    text-decoration: none;
    margin-right: 1rem;
    color: #000;
    font-weight: 600;
    transition: color .2s;
}

header a:hover, .menu ul li a:hover {
    color: var(--main-color);
}

/* end header */
/* start Menu */
.menu {
    border-top: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
}

/* end menu */

/* footer */
footer {
    background: #333;
    padding: 1rem;
    color: #fff;
    text-align: center;
}

footer ul {
    margin-bottom: 1rem;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

/* Start auth section */


.adresse {
    width: 100%;
    margin: 1rem auto;
}

.adresse h4, .trajets h4 {
    text-align: start;
    font-weight: normal;
    margin-bottom: 1rem;
}


input.error {
    border: 2px solid var(--secondary-color);
}


/* end auth section */
/* start operations */
.operations {
    margin-top: var(--section-padding);
    margin-bottom: var(--section-padding);
}

/* end operations */
/* Start annonce */
.annonce {
    margin-top: var(--section-padding);
    margin-bottom: var(--section-padding);
}

.annonce form {
    width: 350px;
    margin: 0 auto;
}

.annonce form input:not(input[type='radio']) {
    width: 100%;
}

.annonce .poids-radio {
    padding: .2rem;
}

.annonce .choose-poids {
    margin-bottom: 1rem;
}

.annonce select {
    padding: .5rem 1rem;
    width: 100%;
    border-radius: var(--border-radius);
    border: 1px solid rgb(0 0 0 / 20%);
    outline: 0 solid var(--main-color);
    transition: outline-width .2s;
    margin-bottom: 1rem;
}

.annonce select:hover {
    outline-width: 1px;
}

form textarea {
    padding: .5rem 1rem;
    width: 100%;
    max-height: 120px;
    border-radius: var(--border-radius);
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1rem;
}

.annonce .adresse {
    border: 1px solid rgb(0 0 0 / 10%);
}

/* End annonce */

/* Start index page */
.tendance {
    margin-top: var(--section-padding);
    margin-bottom: var(--section-padding);
}

.card {
    border-radius: var(--border-radius);
    background-color: #fff;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%);
    min-height: 150px;
    position: relative;
}

.card .text {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
}

.tendance .card img {
    width: 100%;
    height: 40%;
    border-radius: var(--border-radius);
}

.tendance .card a {
    width: fit-content;
}

.tendance .content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    grid-gap: 1rem;
}

/* End tendance */

/* Start annonce details */
.annonce-details {
    margin-top: var(--section-padding);
    margin-bottom: var(--section-padding);
}

.annonce-details .details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.annonce-details .detail.status h5 span {
    color: var(--main-color);
    font-weight: bold;
}

.annonce-details .details .annonce-image img {
    width: 100%;
    border-radius: var(--border-radius);
}

.tendance .content {
    padding: 2rem;
}

.how-to {
    text-align: center;
}

/* End annonce details */

/* start latest news */
.latest-news {
    margin-top: var(--section-padding);
    margin-bottom: var(--section-padding);
}

.latest-news .content {
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    grid-gap: 1rem;
}

.latest-news .text {
    height: 100%;
}

.latest-news .text > div {
    margin-bottom: 1rem;
}

.latest-news .link-btn {
    width: fit-content;
}

.latest-news .see-more {
    text-align: center;
    margin-top: 1rem;
}

/* start search */
.search {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.search .content form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1rem;
}

.search .content select {
    padding: .5rem 1rem;
    border: 1px solid rgb(0 0 0 / 20%);
    outline: 0 solid var(--main-color);
    border-radius: var(--border-radius);
}

.search select:hover {
    outline: 1px solid var(--main-color);
}

.search .card {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.search .card img {
    width: 200px;
    border-radius: var(--border-radius);
}

.search .card .text a {
    margin-top: 1rem;
    width: fit-content;
}

.search .dest {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

.search .dest > span {
    font-style: italic;
    font-weight: normal;
    color: var(--main-color);

}

/* end search */
/* start find transporteur */
.find-transporteurs {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.find-transporteurs .annonce {
    display: flex;
    min-height: 0;
}

.find-transporteurs .annonce img {
    width: 100px;
    height: 100px;
    border-radius: var(--border-radius);
    object-fit: cover;
}

.find-transporteurs .transporteur {
    display: flex;
    margin-bottom: 1rem;
}

.find-transporteurs h4 {
    margin-bottom: 1rem;
}

.find-transporteurs .transporteur img {
    width: 100px;
    object-fit: cover;
}

.find-transporteurs .transporteur a {
    width: fit-content;
    margin-top: 1rem;
}

.find-transporteurs .transporteur img {
    border-radius: var(--border-radius);
}

/* end find transporteur */

/* Start certifer */

.certifer {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

/* End certifier */