* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #26c6da;
    --secondary-color: #e91e63;
    --section-padding: 50px;
    --border-radius: 4px;
}

/* Start global rules */
body {
    font-family: 'Poppins', sans-serif;
}

header {
    padding: 1rem;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

input:not(input[type='radio']) {
    display: block;
    margin-bottom: 1rem;
    padding: .5rem 1rem;
    border-radius: var(--border-radius);
    border: 1px solid rgb(0 0 0 / 20%);
    outline: 0 solid var(--main-color);
    transition: outline-width .2s;
}

input:not(input[type='submit']):hover {
    outline-width: 1px;
}

input:focus {
    border: 1px solid var(--main-color);
    outline: none;
}

input[type='submit'], button, .link-btn {
    background-color: var(--main-color);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: opacity .3s;
}

input[type='submit']:hover, button:hover, .link-btn:hover {
    opacity: .8;
}

button, .link-btn {
    padding: .5rem 1rem;
    border-radius: var(--border-radius);
}

.link-btn {
    display: inline-block;
    text-decoration: none;
}

/* End global rules */

.main-heading {
    font-size: 2rem;
    margin-bottom: 3rem;
    border-bottom: 5px solid var(--main-color);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.secondary-heading {
    border-left: 3px solid var(--main-color);
    padding-left: 8px;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 99.4px;
}

/* small */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}


/* meduim */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}


/* large */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* Start header */
header, .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
}

header ul li, .menu ul li {
    display: inline-block;
}

header a, .menu ul li a {
    text-decoration: none;
    margin-right: 1rem;
    color: #000;
    font-weight: 600;
    transition: color .2s;
}

header a:hover, .menu ul li a:hover {
    color: var(--main-color);
}

/* end header */
/* start Menu */
.menu {
    border-top: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
}

/* end menu */

/* footer */
footer {
    background: #333;
    padding: 1rem;
    color: #fff;
    text-align: center;
}

footer ul {
    margin-bottom: 1rem;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

/* Start auth section */
.auth {
    margin-top: var(--section-padding);
    margin-bottom: var(--section-padding);
}

.auth form input:not(input[type='checkbox']) {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.auth input[type='checkbox'] {
    display: inline-block;
}

.auth label {
    width: 100%;
    margin: 0 auto;
    display: block;
}

.adresse {
    width: 100%;
    margin: 1rem auto;
}

.adresse h4, .trajets h4 {
    text-align: start;
    font-weight: normal;
    margin-bottom: 1rem;
}

.auth .trajets {
    padding: 1rem 0;
    display: none;
    width: 350px;
    margin: 0 auto;
}

.auth select {
    width: 350px;
    padding: .5rem;
    border: 1px solid var(--main-color);
    border-radius: var(--border-radius);
}

.auth select:focus {
    outline: 1px solid var(--main-color);
}

.auth .trajets.show {
    display: block;
}

input.error {
    border: 2px solid var(--secondary-color);
}

.error-text {
    color: var(--secondary-color);
    text-align: center;
    font-size: 12px;
    display: none;
}

.error-text.show {
    display: block;
}

/* end auth section */
/* start operations */
.operations {
    margin-top: var(--section-padding);
    margin-bottom: var(--section-padding);
}

/* end operations */
/* Start annonce */
.annonce {
    margin-top: var(--section-padding);
    margin-bottom: var(--section-padding);
}

.annonce form {
    width: 350px;
    margin: 0 auto;
}

.annonce form input:not(input[type='radio']) {
    width: 100%;
}

.annonce .poids-radio {
    padding: .2rem;
}

.annonce .choose-poids {
    margin-bottom: 1rem;
}

.annonce select {
    padding: .5rem 1rem;
    width: 100%;
    border-radius: var(--border-radius);
    border: 1px solid rgb(0 0 0 / 20%);
    outline: 0 solid var(--main-color);
    transition: outline-width .2s;
    margin-bottom: 1rem;
}

.annonce select:hover {
    outline-width: 1px;
}

.annonce form textarea {
    padding: .5rem 1rem;
    width: 100%;
    max-height: 120px;
    border-radius: var(--border-radius);
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1rem;
}

.annonce .adresse {
    border: 1px solid rgb(0 0 0 / 10%);
}

/* End annonce */

/* Start presentation */

.presentation .main-heading {
    color: #fff;
}

.presentation .presentation-image {
    background-image: url("http://placehold.it/800/222");
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.presentation .content {
    margin-top: var(--section-padding);
    margin-bottom: var(--section-padding);
}

.presentation .content > article,
.presentation .content > div {
    margin-bottom: 2rem;
}

.presentation .presentation-video > div {
    text-align: center;
}

.presentation .presentation-video iframe {
    width: 700px;
    height: 350px;
}

/* End presentation */

/* Start index page */
.tendance {
    margin-top: var(--section-padding);
    margin-bottom: var(--section-padding);
}

.card {
    border-radius: var(--border-radius);
    background-color: #fff;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%);
    min-height: 150px;
    position: relative;
}

.card .text {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
}

.tendance .card img {
    width: 100%;
    height: 40%;
    border-radius: var(--border-radius);
}

.tendance .card a {
    width: fit-content;
}

.tendance .content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    grid-gap: 1rem;
}
/* End tendance */

/* Start annonce details */
.annonce-details {
    margin-top: var(--section-padding);
    margin-bottom: var(--section-padding);
}
.annonce-details .details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.annonce-details .details .annonce-image img {
    width: 100%;
    border-radius: var(--border-radius);
}
.tendance .content{
    padding: 2rem;
}
.how-to {
    text-align: center;
}
/* End annonce details */

/* start latest news */
.latest-news {
    margin-top: var(--section-padding);
    margin-bottom: var(--section-padding);
}
.latest-news .content {
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    grid-gap: 1rem;
}
.latest-news .text {
    height: 100%;
}
.latest-news .text > div {
    margin-bottom: 1rem;
}
.latest-news .link-btn {
    width: fit-content;
}
/* end latest news */

/* start news details */
.news-details {
    margin-top: var(--section-padding);
    margin-bottom: var(--section-padding);
}
.news-details article h3 {
    margin-bottom: 1rem;
}
.news-details article p:first-of-type {
    font-style: italic;
    margin-bottom: 1rem;
}
/* end news details */

/* start news section */
.news {
    margin-top: var(--section-padding);
    margin-bottom: var(--section-padding);
}
.news .content {
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    grid-gap: 1rem;
}
.news .text {
    height: 100%;
}
.news .text > div {
    margin-bottom: 1rem;
}
.news .select-page {
    text-align: center;
    padding: 2rem 0 0;
}
.news .select-page a {
    color: var(--main-color);
}
/* end news section */